[submodule "LuaSnippets/.local/nvim/LuaSnippets"]
	path = LuaSnippets/.local/nvim/LuaSnippets
	url = https://github.com/purrutia/LuaSnippets.git
[submodule "neovim/.config/nvim"]
	path = neovim/.config/nvim
	url = https://github.com/purrutia/nvim.git
